#ConnectionStrings
CS=""

# JWT
JWT_KEY=""
JWT_ISSUER=""
JWT_AUDIENCE=""

# SMTP
SENDGRID_API_KEY=""
SENDGRID_SENDER_EMAIL=""
SENDGRID_SENDER_NAME=""


DB_ENCRYPTION_KEY=""
# Password Pepper (Used exclusively for BCrypt hashing)
PASSWORD_PEPPER=""

