# Database Connection
DB_HOST=""
DB_PORT=""
DB_USERNAME="="
DB_PASSWORD=""
DB_DATABASE=""
DB_CHANNEL_BINDING=""
DB_SSLMODE=""
DB_TRUSTSERVERCERTIFICATE=""

# JWT
JWT_KEY=""
JWT_ISSUER=""
JWT_AUDIENCE=""

#Smtp
SENDGRID_API_KEY=""
SENDGRID_SENDER_EMAIL=""
SENDGRID_SENDER_NAME=""

AI_BASE_URL=""

APP_ENCRYPTION_KEY=""

AI_HMAC_SECRET=""
AI_HMAC_MAX_SKEW_SECONDS=